name = "Java"
grammar = "java"
path_suffixes = ["java"]
line_comments = ["// "]
autoclose_before = ";:.,=}])>` \n\t\""
brackets = [
    { start = "{", end = "}", close = true, newline = true },
    { start = "[", end = "]", close = true, newline = true },
    { start = "(", end = ")", close = true, newline = false },
]
prettier_parser_name = "java"
prettier_plugins = ["prettier-plugin-java"]
